<div class="s_header">
    <a class="back" href="javascript:history.back();">
        <i class="icon iconfont icon-xiangzuo"></i>
    </a>
    <div class="sear">
        <label>
            <i class="icon iconfont icon-fangdajing"></i>
            <input type="text" placeholder="输入书名/作者/关键字">
            <button class="sear_btn">搜索</button>
        </label>
    </div>
</div>
<div class="main">
    <div class="tag_wrap">
        <h2>热门搜索</h2>
        <ul class="type_tag hotkey">
        
        </ul>
        <h2>历史记录</h2>
        <ul class="type_tag history">
            
        </ul>
    </div>
    <div class="search_list"></div>
</div>