{{#each this}}{{#if @index}}
    <div class="line">
        <b>{{#num @index}}{{/num}}</b>
        <span>{{title}}</span>
        <font>{{authors}}</font>
    </div>{{else}}
    <dl class="imgInfo"> 
        <dt>
            <span>{{#num @index}}{{/num}}</span>
            <img src="{{cover}}" alt="">
            <b>{{#if finish}}完结{{else}}连载{{/if}}</b>
        </dt>
        <dd>
            <h2>{{title}}</h2>
            <h3>{{authors}}</h3>
            <p>{{summary}}</p>
            <div>
                {{#each tags}}
                <span>{{this}}</span>
                {{/each}}
            </div>
        </dd>
    </dl>
{{/if}}
{{/each}}