@charset "UTF-8";
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: inherit; }

fieldset,
img {
  border: 0; }

iframe {
  display: block; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

del {
  text-decoration: line-through; }

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

i,
code,
b {
  font-weight: normal;
  font-style: normal; }

code {
  background: transparent; }

.wrap {
  width: 100%;
  height: 100%; }

.index, .detail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #efeff0; }

.header {
  width: 100%;
  height: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 0.37333rem; }
  .header .logo img {
    width: 0.58667rem;
    height: 0.58667rem;
    display: block; }
  .header .tab {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .tab a {
      height: 100%;
      margin: 0 0.8rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 0.37333rem; }
      .header .tab a.active {
        color: #ff6600; }
  .header i {
    font-size: 0.58667rem; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto; }
  .main .search {
    width: 100;
    height: 1.46667rem;
    position: relative;
    padding: 0.26667rem 0.34667rem;
    background: #fff; }
    .main .search i {
      position: absolute;
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.53333rem;
      top: 50%;
      left: 0.53333rem;
      margin-top: -0.32rem; }
      .main .search i::-webkit-input-placeholder {
        line-height: normal; }
    .main .search input {
      width: 100%;
      height: 100%;
      border: 1px solid #f5f5f5;
      border-radius: 2px;
      color: rgba(0, 0, 0, 0.4);
      padding-left: 0.8rem; }
  .main .banner {
    width: 100%; }
    .main .banner ul {
      width: 100%; }
      .main .banner ul li {
        width: 100%; }
        .main .banner ul li img {
          width: 100%;
          display: block; }
  .main .list {
    background: #fff;
    width: 100%;
    height: 1.81333rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.26667rem; }
    .main .list li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main .list li img {
        width: 0.58667rem; }
      .main .list li span {
        margin-top: 0.13333rem;
        font-size: 0.32rem; }
  .main .title {
    background: #fff;
    width: 100%;
    height: 1.12rem;
    padding-left: 0.37333rem;
    border-bottom: 1px solid #f0f0f0;
    border-left: 0.16rem solid #ffab18;
    line-height: 1.12rem;
    font-size: 0.42667rem;
    color: #555; }
  .main .hot {
    width: 100%;
    padding-top: 0.37333rem;
    background: #fff;
    margin-bottom: 0.26667rem; }
    .main .hot .hotlist {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .main .hot .hotlist li {
        width: 33.33333%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 0.21333rem; }
        .main .hot .hotlist li dl {
          width: 2.29333rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .main .hot .hotlist li dl dt {
            height: 3.01333rem;
            width: 100%;
            margin-bottom: 0.13333rem;
            -webkit-box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa;
                    box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa; }
            .main .hot .hotlist li dl dt img {
              width: 100%;
              height: 100%;
              display: block; }
          .main .hot .hotlist li dl dd {
            color: #8d8d8d;
            font-size: 0.34667rem; }
  .main .zbRecommend {
    width: 100%;
    background: #fff;
    margin-bottom: 0.26667rem; }
    .main .zbRecommend .zbhead {
      width: 100%;
      height: 1.14667rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid #ddd;
      padding: 0 0.37333rem; }
      .main .zbRecommend .zbhead .zb_l {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 0.34667rem;
        font-weight: bold; }
        .main .zbRecommend .zbhead .zb_l em {
          margin-left: 0.13333rem;
          background: #2ccc2c;
          font-size: 0.32rem;
          padding: 0 0.05333rem;
          color: #fff; }
      .main .zbRecommend .zbhead .zb_r {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 0.32rem; }
        .main .zbRecommend .zbhead .zb_r span {
          padding: 0 0.13333rem; }
          .main .zbRecommend .zbhead .zb_r span:first-child {
            color: #528ae8;
            border-right: 1px solid #999; }
    .main .zbRecommend .zb-cont {
      width: 100%;
      padding: 0 0.34667rem; }
      .main .zbRecommend .zb-cont .line {
        height: 1.33333rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-bottom: 1px solid #f0f0f0; }
        .main .zbRecommend .zb-cont .line b {
          color: rgba(237, 83, 15, 0.9);
          font-size: 0.34667rem; }
        .main .zbRecommend .zb-cont .line span {
          font-size: 0.4rem;
          color: rgba(0, 0, 0, 0.9);
          margin: 0.34667rem; }
        .main .zbRecommend .zb-cont .line font {
          font-size: 0.32rem;
          color: rgba(0, 0, 0, 0.4); }
    .main .zbRecommend .ns-cont {
      width: 100%;
      padding: 0 0.34667rem; }
    .main .zbRecommend .man-cont {
      width: 100%;
      padding: 0 0.34667rem; }
    .main .zbRecommend .load-cont {
      width: 100%;
      padding: 0 0.34667rem; }
  .main .free {
    width: 100%;
    padding-top: 0.37333rem;
    background: #fff;
    margin-bottom: 0.26667rem; }
    .main .free .freelist {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .main .free .freelist li {
        width: 33.33333%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 0.21333rem; }
        .main .free .freelist li dl {
          width: 2.29333rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .main .free .freelist li dl dt {
            overflow: hidden;
            position: relative;
            height: 3.01333rem;
            width: 100%;
            margin-bottom: 0.13333rem;
            -webkit-box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa;
                    box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa; }
            .main .free .freelist li dl dt:before {
              content: "限免";
              width: 1.6rem;
              text-align: center;
              font-size: 0.32rem;
              color: #fff;
              background: #2ccc2c;
              position: absolute;
              top: 0.08rem;
              right: -0.48rem;
              -webkit-transform: rotate(45deg);
                      transform: rotate(45deg); }
            .main .free .freelist li dl dt img {
              width: 100%;
              height: 100%;
              display: block; }
          .main .free .freelist li dl dd {
            color: #8d8d8d;
            font-size: 0.34667rem; }
  .main .imgInfo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 0.34667rem 0; }
    .main .imgInfo dt {
      width: 2.26667rem;
      height: 3.01333rem;
      position: relative;
      background: #eeece9;
      border: 1px solid #f0f0f0;
      border-radius: 1px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 0.34667rem; }
      .main .imgInfo dt img {
        width: 100%;
        height: 100%;
        display: block; }
      .main .imgInfo dt span {
        position: absolute;
        left: 0.08rem;
        top: 0;
        padding: 0.13333rem 0.13333rem;
        font-size: 0.21333rem;
        color: #fff;
        background: rgba(237, 83, 15, 0.9); }
      .main .imgInfo dt b {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 0.26667rem;
        padding: 0.66667rem 0.18667rem 0.16rem;
        color: #fff;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
    .main .imgInfo dd {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      overflow-x: hidden; }
      .main .imgInfo dd h2 {
        font-size: 0.42667rem;
        color: rgba(0, 0, 0, 0.9); }
      .main .imgInfo dd h3 {
        font-size: 0.32rem;
        color: rgba(0, 0, 0, 0.7); }
      .main .imgInfo dd p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.32rem;
        color: rgba(0, 0, 0, 0.6); }
      .main .imgInfo dd div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: hidden; }
        .main .imgInfo dd div span {
          -ms-flex-negative: 0;
              flex-shrink: 0;
          margin-right: 0.13333rem;
          padding: 0 0.13333rem;
          font-size: 0.26667rem;
          color: #53ac7d;
          border-radius: 0.08rem;
          border: 1px solid #53ac7d; }
  .main .end {
    width: 100%;
    height: 1.12rem;
    border-top: 1px solid #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.37333rem;
    background: #fff; }
    .main .end span {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .main .end span.change-btn {
        border-right: 1px solid #f0f0f0; }

.detail .header a i.icon-xiangzuo {
  font-size: 0.34667rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold; }

.detail .header a i.icon-shouye {
  font-size: 0.48rem;
  color: rgba(0, 0, 0, 0.7); }

.detail .header span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.4rem;
  margin-left: 0.37333rem;
  color: rgba(0, 0, 0, 0.7); }
